## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [11]:
# Your code here
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)
print(len(sample_list_1))

[80, 73, 14, 84, 81, 34, 36, 57, 3, 21, 54, 29, 7, 44, 30, 22, 46, 99, 43, 40, 27, 91, 92, 17, 48, 60, 78, 96, 10, 19, 0, 58, 13, 12, 72, 1, 67, 8, 33, 66, 98, 62, 68, 2, 90, 31, 63, 59, 28, 70, 65, 86, 71, 25, 56, 51, 6, 75, 94, 47, 42, 50, 41, 20, 83, 82, 88, 97, 61, 35, 24, 85, 95, 39, 45, 18, 93, 79, 55, 77]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [21]:
# Your code here
set1 = set(sample_list_1)
print(set1, type(set1), len(set1))

{0, 1, 2, 3, 6, 7, 8, 10, 12, 13, 14, 17, 18, 19, 20, 21, 22, 24, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 70, 71, 72, 73, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99} <class 'set'> 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [18]:
# Your code here
sample_list_2 = [random.randrange(0, 101, 1) for i in range(80)]
print(sample_list_2, len(sample_list_2))

[48, 29, 76, 88, 45, 56, 10, 35, 68, 37, 37, 55, 59, 2, 2, 41, 80, 67, 24, 94, 9, 68, 37, 86, 45, 36, 87, 52, 77, 56, 70, 40, 44, 31, 81, 77, 0, 57, 61, 72, 40, 76, 91, 37, 27, 51, 64, 10, 46, 47, 6, 91, 11, 29, 44, 7, 58, 59, 64, 40, 63, 68, 93, 40, 69, 16, 67, 84, 95, 95, 51, 16, 4, 14, 37, 14, 45, 75, 12, 82] 80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [20]:
# Your code here
set2 = set(sample_list_2)
print(set2, type(set2), len(set2))

{0, 2, 4, 6, 7, 9, 10, 11, 12, 14, 16, 24, 27, 29, 31, 35, 36, 37, 40, 41, 44, 45, 46, 47, 48, 51, 52, 55, 56, 57, 58, 59, 61, 63, 64, 67, 68, 69, 70, 72, 75, 76, 77, 80, 81, 82, 84, 86, 87, 88, 91, 93, 94, 95} <class 'set'> 54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [28]:
# Your code here
set3 = set()
for part in set1:
    if part not in set2:
        set3.add(part)
print(set3, len(set3))

{1, 3, 8, 13, 17, 18, 19, 20, 21, 22, 25, 28, 30, 33, 34, 39, 42, 43, 50, 54, 60, 62, 65, 66, 71, 73, 78, 79, 83, 85, 90, 92, 96, 97, 98, 99} 36

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [29]:
# Your code here
set4 = set()
for par in set2:
    if par not in set1:
        set4.add(par)
print(set4, len(set4))

{64, 4, 37, 69, 9, 11, 76, 16, 52, 87} 10

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [30]:
# Your code here
set5 = set()
for comm in set1:
    if comm in set2:
        set5.add(comm)
print(set5, len(set5))

{0, 2, 6, 7, 10, 12, 14, 24, 27, 29, 31, 35, 36, 40, 41, 44, 45, 46, 47, 48, 51, 55, 56, 57, 58, 59, 61, 63, 67, 68, 70, 72, 75, 77, 80, 81, 82, 84, 86, 88, 91, 93, 94, 95} 44

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [36]:
# Your code here
print(len(set1), len(set2), len(set3), len(set4), len(set5))

set1 > set2 > set3 > set4 < set5

80 54 36 10 44

False

#### Create an empty set called `set6`.

In [34]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [38]:
# Your code here
set6.update(set3, set5)
print(set6, len(set6))

{0, 1, 2, 3, 6, 7, 8, 10, 12, 13, 14, 17, 18, 19, 20, 21, 22, 24, 25, 27, 28, 29, 30, 31, 33, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 70, 71, 72, 73, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99} 80

#### Check if `set1` and `set6` are equal.

In [39]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [43]:
# Your code here
set1.issubset(set2)
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [44]:
# Your code here
x = set.union(set3, set4, set5)
y = set.union(set1, set2)
x == y

True

#### Using the `pop` method, remove the first element from `set1`.

In [46]:
# Your code here
set1.pop()

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [50]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for list in list_to_remove:
    if list in set1:
        set1.remove(list)
print(set1, len(set1))

{2, 3, 6, 7, 8, 10, 12, 13, 14, 17, 18, 20, 22, 24, 25, 27, 28, 30, 33, 34, 35, 36, 40, 42, 43, 44, 45, 46, 47, 48, 50, 54, 55, 56, 57, 58, 60, 62, 63, 65, 66, 67, 68, 70, 72, 73, 75, 77, 78, 80, 82, 83, 84, 85, 86, 88, 90, 92, 93, 94, 95, 96, 97, 98} 64